////////////////////////////////////////////////////////
// COLORS
$color-green-primary: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #27ac7f;

$color-orange-light: #ffb800;
$color-orange-dark: #ff7830;

$color-blue-light: #2a96ff;
$color-blue-dark: #5644fa;

$color-grey-bg: #f7f7f7;
$color-grey-border: #eeeeee;
$color-grey-dark: #333333;
$color-grey-text: #777777;

///////////////////////////////////////////////////////
// SHADOWS
$shadow-hover: 0 1rem 4rem rgba(black, 0.3);
$shadow-active: 0 1rem 1.5rem rgba(black, 0.3);

///////////////////////////////////////////////////////
// SCREEN WIDTH
$width-1200: 75em;
$width-1100: 68.75em;
$width-1000: 62.5em;
$width-900: 56.25em;
$width-800: 50em;
$width-700: 43.75em;
$width-600: 37.5em;
$width-500: 31.25em;
