.section--about {
    background-color: $color-grey-bg;
    margin-top: -25rem;
    padding: 30rem 4rem 30rem 4rem;
    overflow: hidden;

    @media only screen and (max-width: $width-800) {
        padding: 25rem 4rem 20rem 4rem;
    }

    @media only screen and (max-width: $width-600) {
        padding: 25rem 2rem 20rem 2rem;
    }
}

.about-main__container {
    @include contentAlignedCenter;
    display: flex;

    @media only screen and (max-width: $width-1200) {
        flex-direction: column;
    }
}

.about--text__container {
    flex: 0 0 50%;

    @media only screen and (max-width: $width-1200) {
        flex: 0 0 100%;
    }
}

.about--pictures__container {
    position: relative;
    height: 0;

    @media only screen and (max-width: $width-1200) {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(max-content, 30rem));
        justify-content: center;
        height: 100%;
        margin-top: 4rem;
    }

    &:hover .about__img:not(:hover) {
        transform: scale(0.95);
    }
}
