.section--features {
    background-image: linear-gradient(
            to bottom right,
            rgba($color-green-light, 0.8),
            rgba($color-green-dark, 0.8)
        ),
        url(../../img/nat-4.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 25rem 4rem;
    transform: translateY(-15rem) skewY(-7deg);

    @media only screen and (max-width: $width-800) {
        padding: 15rem 4rem;
    }

    @media only screen and (max-width: $width-600) {
        padding: 10rem 2rem;
    }
}

.features-main__container {
    @include contentAlignedCenter;
    display: grid;
    gap: 2rem 5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    transform: skewY(7deg);
}
