.margin-top-sm {
    margin-top: 1rem;
}

.margin-top-md {
    margin-top: 2rem;
}

.margin-top-bg {
    margin-top: 4rem;
}

.margin-top-hg {
    margin-top: 6rem;
}

.margin-bottom-sm {
    margin-bottom: 1rem;
}

.margin-bottom-md {
    margin-bottom: 2rem;
}

.margin-bottom-bg {
    margin-bottom: 4rem;
}

.margin-bottom-hg {
    margin-bottom: 6rem;
}

.text-alignment-center {
    text-align: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
